.modal#default-modal.fade(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title Default modal
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span &times;
            .modal-body
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque, autem ducimus esse in ipsum, laborum maxime mollitia nostrum omnis optio porro praesentium quae quasi quod reprehenderit ut, veniam veritatis.
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
