.modal#map-modal.fade(tabindex='-1')
    .modal-dialog.modal-map
        .modal-content
            .modal-header
                h5.modal-title Map modal
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span &times;
            .modal-body
                img(src='https://via.placeholder.com/800x600' alt='800x600')
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
