.modal#medium-modal.fade(tabindex='-1')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h5.modal-title Medium modal
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span &times;
            .modal-body
                .row
                    include ../../sections/bootstrap-table
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
