extends pug/layouts/base

block title
    title Pages

block content
    .row
        .page-header
            h1 Pages
        ul.list-group
            li.list-group-item
                a(href='./company-name-form.html' target='_blank') Company name form
            li.list-group-item
                a(href='./datatables.html' target='_blank') DataTables
            li.list-group-item
                a(href='./datatable-dropdown.html' target='_blank') Table dropdown
            li.list-group-item
                a(href='./datatable-daterange.html' target='_blank') DateRange Filter
            li.list-group-item
                a(href='./settings.html' target='_blank') Settings
            li.list-group-item
                a(href='./user-permissions.html' target='_blank') User Permissions
