ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
    // Sidebar - Brand
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
        .sidebar-brand-icon.rotate-n-15
            i.fas.fa-truck
        .sidebar-brand-text.mx-3
            | TMS Markup
    // Divider
    hr.sidebar-divider.my-0
    // Nav Item - Tables
    li.nav-item.active
        a.nav-link(href='tables.html')
            i.fas.fa-fw.fa-table
            span Tables
    li.nav-item.active
        a.nav-link(href='edit.html')
            i.fas.fa-fw.fa-pen
            span Edit
    li.nav-item.active
        a.nav-link(href='forms.html')
            i.fas.fa-fw.fa-list
            span Forms
    li.nav-item.active
        a.nav-link(href='notes.html')
            i.fas.fa-fw.fa-sticky-note
            span Notes
    li.nav-item.active
        a.nav-link(href='compliance.html')
            i.fas.fa-fw.fa-car
            span Compliance
    li.nav-item.active
        a.nav-link(href='load.html')
            i.fas.fa-fw.fa-truck-loading
            span Load
    li.nav-item.active
        a.nav-link(href='truck-information.html')
            i.fas.fa-fw.fa-info
            span Truck information
    li.nav-item.active
        a.nav-link(href='table-dropdown.html')
            i.fas.fa-fw.fa-table
            span Table dropdown
    li.nav-item.active
        a.nav-link(href='modals.html')
            i.far.fa-fw.fa-window-maximize
            span Modals
    li.nav-item.active
        a.nav-link(href='location.html')
            i.fas.fa-fw.fa-search-location
            span Location
    // Divider
    hr.sidebar-divider.d-none.d-md-block
    // Sidebar Toggler (Sidebar)
    .text-center.d-none.d-md-inline
        button#sidebarToggle.rounded-circle.border-0