form.form
    .col-4
        .form-fieldset
            span.form-legend Col 4
            .form-group
                label First name
                input.form-control(type='text' name='firstname' placeholder='First name')
            .form-group
                label Date
                input.form-control(type='date' name='date')
            .form-group
                label Select
                select.custom-select
                    option(value='#') Option 1
                    option(value='#') Option 2
                    option(value='#') Option 3
                    option(value='#') Option 4
                    option(value='#') Option 5
            span.form-hr-text Backup Required With Every Invoice
            .form-group
                label.col-form-label Textarea
                textarea.form-control
    .col-8
        .form-fieldset
            span.form-legend Col 8 with two inner cols
            .row
                .col
                    .form-group
                        label First name
                        input.form-control(type='text' name='firstname' placeholder='First name')
                    .form-group
                        label Date
                        input.form-control(type='date' name='date')
                    .form-group
                        label Select
                        select.custom-select
                            option(value='#') Option 1
                            option(value='#') Option 2
                            option(value='#') Option 3
                            option(value='#') Option 4
                            option(value='#') Option 5
                    .form-group
                        label.col-form-label Textarea
                        textarea.form-control
                .col
                    .form-group
                        label Last name
                        input.form-control(type='text' name='lastname' placeholder='Last name')
                    .form-group
                        label End date
                        input.form-control(type='date' name='enddate')
                    .form-group
                        label Select
                        select.custom-select
                            option(value='#') Option 1
                            option(value='#') Option 2
                            option(value='#') Option 3
                            option(value='#') Option 4
                            option(value='#') Option 5
                    .form-group
                        label.col-form-label Textarea
                        textarea.form-control
    .col-4
        .form-fieldset
            span.form-legend Col 4
            .form-group
                label First name
                input.form-control(type='text' name='firstname' placeholder='First name')
            .form-group
                label Date
                input.form-control(type='date' name='date')
    .col-5
        .form-fieldset
            span.form-legend Col 5
            .form-group
                label First name
                input.form-control(type='text' name='firstname' placeholder='First name')
            .form-group
                label City, State, Zip
                .form-row
                    .col-6
                        input.form-control(type='text' name='city' placeholder='City')
                    .col
                        input.form-control(type='text' name='state' placeholder='State')
                    .col
                        input.form-control(type='text' name='zip' placeholder='Zip')
    .col-3
        .form-fieldset
            span.form-legend Col 3
            .form-group
                label First name
                input.form-control(type='text' name='firstname' placeholder='First name')
            .form-group
                label Select
                select.custom-select
                    option(value='#') Option 1
                    option(value='#') Option 2
                    option(value='#') Option 3
                    option(value='#') Option 4
                    option(value='#') Option 5