.col
    table.table
        thead.thead-light
            tr
                th #
                th First
                th Last
                th Handle
        tbody
            tr
                th 1
                td Mark
                td Otto
                td @mdo
            tr
                th 2
                td Jacob
                td Thornton
                td @fat
            tr
                th 3
                td Larry
                td the Bird
                td @twitter