.edit-form-toolbar
    button.btn.btn-link(data-tooltip='tooltip' data-placement='top' title='Plus')
        i.fas.fa-plus
    button.btn.btn-link(data-tooltip='tooltip' data-placement='top' title='Check')
        i.fas.fa-check
    button.btn.btn-link(data-tooltip='tooltip' data-placement='top' title='Print')
        i.fas.fa-print
    button.btn.btn-link(data-tooltip='tooltip' data-placement='top' title='Calculator')
        i.fas.fa-calculator
    .dropdown
        button.btn.btn-link.dropdowwn-toggle(data-tooltip='tooltip' data-toggle='dropdown' data-placement='top' title='Link')
            i.fas.fa-link
            i.fas.fa-caret-down
        .dropdown-menu
            a(href='#').dropdown-item First
            a(href='#').dropdown-item Second
            a(href='#').dropdown-item Third
    button.btn.btn-link(data-tooltip='tooltip' data-placement='top' title='Clipboard')
        i.fas.fa-clipboard-list
    button.btn.btn-link(data-tooltip='tooltip' data-placement='top' title='Eraser')
        i.fas.fa-eraser
    .dropdown
        button.btn.btn-link.dropdowwn-toggle(data-tooltip='tooltip' data-toggle='dropdown' data-placement='top' title='Config')
            i.fas.fa-cog
            i.fas.fa-caret-down
        .dropdown-menu
            a(href='#').dropdown-item Dropdown option
            a(href='#').dropdown-item Dropdown option
            a(href='#').dropdown-item Dropdown option