extends pug/layouts/dashboard

block title
    title Find Unit

block page
    .container-fluid
        h1.h3.mb-4.text-gray-800 Find Unit
        .card.shadow.mb-4
            .card-body
                .row
                    .col-12.mb-5
                        table.table.table-bordered.table-sm
                            thead
                                tr
                                    th Unit
                                    th Driver
                                    th Truck
                                    th Trailer
                                    th Type
                                    th Team
                                    th Status
                                    th Date
                                    th City
                                    th St
                                    th Z
                                    th Next
                                    th City
                                    th St
                                    th Act
                                    th DH P
                                    th DH D
                                    th Total
                                    th Pct
                            tbody
                                tr
                                    td 879002
                                    td FARAH, ABBAS
                                    td 879002
                                    td No Trailer
                                    td
                                    td Y
                                    td AV
                                    td 1/29
                                    td Grinnell
                                    td IA
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td 208
                                    td
                                    td 208
                                    td 0.0
                    .col-3
                        .form-fieldset
                            .col Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis dolor, dolorum esse explicabo illum in inventore iste maiores neque nihil odio reprehenderit rerum vero vitae voluptatibus?
                    .col-9
                        .form-fieldset
                            .row
                                .col-2
                                    .row
                                        .col-5 Load
                                        .col-7 <span class='form-readonly-text'>130333</span>
                                        .col-5 Status
                                        .col-7 <span class='form-readonly-text'>Ready</span>
                                        .col-5 Equip
                                        .col-7 <span class='form-readonly-text'>V3</span>
                                .col-4
                                    .row
                                        .col-3 Pickup
                                        .col-9 <pre class='form-readonly-text'>2/1/21               14:00</pre>
                                        .col-3
                                        .col-9 <span class='form-readonly-text'>12400 DUPONT AVENUE</span>
                                        .col-3
                                        .col-9 <span class='form-readonly-text'>12400 DUPONT AVENUE</span>
                                        .col-3
                                        .col-9 <span class='form-readonly-text'>Burnsville, MN 55337</span>
                                .col-4
                                    .row
                                        .col-3 Deliver
                                        .col-9 <pre class='form-readonly-text'>2/3/21               16:00</pre>
                                        .col-3
                                        .col-9 <span class='form-readonly-text'>2410 CONSTITUTION BOUL</span>
                                        .col-3
                                        .col-9 <span class='form-readonly-text'>2410 CONSTITUTION BOUL</span>
                                        .col-3
                                        .col-9 <span class='form-readonly-text'>West Valley Citym UT 84119</span>
                                .col-2
                                    .row
                                        .col-5 Miles
                                        .col-7 <span class='form-readonly-text'>645645645</span>
                                        .col-5 Weight
                                        .col-7 <span class='form-readonly-text'>0</span>
                                        .col-5 Pieces
                                        .col-7 <span class='form-readonly-text'>0</span>
                                        .col-5 HazMat
                                        .col-7 <span class='form-readonly-text'></span>
                                        .col-5 X Stops
                                        .col-7 <span class='form-readonly-text'></span>
