extends pug/layouts/dashboard

block title
    title Pages

block page
    .container-fluid
        h3.h3.mb-4.text-gray-800 Pages
        .card.shadow.mb-4
            .card-body
                ul.list-group
                    li.list-group-item
                        a(href='/workOrder.html' target='_blank') Work Order
                    li.list-group-item
                        a(href='/chat.html' target='_blank') Chat
                    li.list-group-item
                        a(href='/bill.html' target='_blank') Bill
                    li.list-group-item
                        a(href='/tables.html' target='_blank') Datatable
                    li.list-group-item
                        a(href='/jquery-contextmenu.html' target='_blank') Datatable with jquery.ContextMenu
                    li.list-group-item
                        a(href='/daterange.html' target='_blank') Datatable with DateRange Filter
                    li.list-group-item
                        a(href='/rowGroup.html' target='_blank') Datatable Row group
                    li.list-group-item
                        a(href='/edit.html' target='_blank') Edit
                    li.list-group-item
                        a(href='/forms.html' target='_blank') Forms
                    li.list-group-item
                        a(href='/notes.html' target='_blank') Notes
                    li.list-group-item
                        a(href='/compliance.html' target='_blank') Compliance
                    li.list-group-item
                        a(href='/load.html' target='_blank') Load
                    li.list-group-item
                        a(href='/truck-information.html' target='_blank') Truck information
                    li.list-group-item
                        a(href='/table-dropdown.html' target='_blank') Table Dropdown
                    li.list-group-item
                        a(href='/location.html' target='_blank') Location
                    li.list-group-item
                        a(href='/modals.html' target='_blank') Modals
                    li.list-group-item
                        a(href='/images.html' target='_blank') Simple image viewer [ native ]
                    li.list-group-item
                        a(href='/images-2.html' target='_blank') Simple image viewer 2 [ native ]
                    li.list-group-item
                        a(href='/images-modal.html' target='_blank') Documents Modal
                    li.list-group-item
                        a(href='/images-lg.html' target='_blank') Images gallery & single mode [ lightgallery ]
                    li.list-group-item
                        a(href='/find-unit.html' target='_blank') Find Unit
                    li.list-group-item
                        a(href='/fuel-purchase.html' target='_blank') Fuel Purchase

        h3.h3.mb-4.text-gray-800 Print PDF
        .card.shadow.mb-4
            .card-body
                ul.list-group
                    li.list-group-item
                        a(href='/transport-agreement.html' target='_blank') Transport Agreement
                    li.list-group-item
                        a(href='/invoice.html' target='_blank') Invoice
                    li.list-group-item
                        a(href='/invoice-logo.html' target='_blank') Invoice with logo
                    li.list-group-item
                        a(href='/driver-pay-sattlement.html' target='_blank') Driver Pay Sattlement
                    li.list-group-item
                        a(href='/loading-list.html' target='_blank') Loading list
                    li.list-group-item
                        a(href='/pdf-images.html' target='_blank') PDF Images
