extends pug/layouts/dashboard

block title
    title Load

block page
    .container-fluid
        h1.h3.mb-4.text-gray-800 Load 130230 TL
        .card.shadow.mb-4
            .card-header.py-3
                include pug/sections/form-toolbar.pug
            .card-body
                .row.mb-2
                    .col-1
                        p.form-readonly-text 130230
                    .col-1
                        p.form-readonly-text Dispatched
                .row
                    .col
                        table.table.table-bordered.table-sm
                            thead
                                tr
                                    th(scope='col') Stop
                                    th(scope='col') No
                                    th(scope='col') Av
                                    th(scope='col') Thru
                                    th(scope='col') From
                                    th(scope='col') To
                                    th(scope='col') Appt
                                    th(scope='col') Appt Ref
                                    th(scope='col') Shipper
                                    th(scope='col') Address
                                    th(scope='col') City
                                    th(scope='col') St
                                    th(scope='col') Zip
                                    th(scope='col') Z
                                    th(scope='col') Ml
                                    th(scope='col') Reference
                            tbody
                                tr
                                    td(scope='row' colspan='16')
                                        a(href='https://google.com' style="display: block;") Add
                                tr
                                    td Shipper
                                    td 1
                                    td 1/4
                                    td 1/4
                                    td 02:30
                                    td
                                    td
                                    td
                                    td AZA5
                                    td 6000 W VAN BUREN
                                    td Phoenix
                                    td AZ
                                    td 85043
                                    td
                                    td
                                    td
                                tr
                                    td Consignee
                                    td 2
                                    td 1/6
                                    td 1/6
                                    td 15:00
                                    td
                                    td
                                    td
                                    td BUF5
                                    td 4201 WALDEN AVE
                                    td LANCASTER
                                    td NY
                                    td 14086
                                    td
                                    td
                                    td
                                tr
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                tr
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                .row
                    .col-5
                        .form-fieldset
                            .field.row
                                .col-2
                                    label Bill
                                .col-4
                                    select.form-control
                                        option(selected) B
                                        option(value='#') A
                                        option(value='#') C
                                        option(value='#') D
                            .field.row
                                .col-2
                                    label Bill To
                                .col-8
                                    select.form-control
                                        option(selected) AMAZON LOGISTICS
                                        option(value='#') AMAZON LOGISTICS
                                        option(value='#') AMAZON LOGISTICS
                                        option(value='#') AMAZON LOGISTICS
                            .row
                                .col-4.offset-2
                                    .field
                                        p.form-readonly-text 271 17TH ST. NW
                                    .field
                                        p.form-readonly-text ATALANTA, GA
                            .field.row
                                .col-2
                                    label Reference
                                .col-8
                                    input.form-control(type='text' name='reference' placeholder='Reference' value='115MSSVCR')
                            .field.row
                                .col-10.offset-2
                                    textarea.form-control(placeholder='Some text message' rows='4')
                    .col-7
                        .form-fieldset
                            .row
                                .col-6
                                    .field.row
                                        .col-4
                                            label Bill Miles
                                        .col-8
                                            input.form-control(type='text' placeholder='Bill Miles' value='2258')
                                    .field.row
                                        .col-4
                                            label Received
                                        .col-8
                                            input.form-control(type='text' placeholder='__/__/____')
                                    .field.row
                                        .col-4
                                            label Office
                                        .col-8
                                            select.form-control
                                                option(selected) 1
                                                option(value='#') 2
                                                option(value='#') 3
                                                option(value='#') 4
                                    .field.row
                                        .col-4
                                            label Team
                                        .col-8
                                            select.form-control
                                                option(selected) Team option
                                                option(value='#') Team option
                                                option(value='#') Team option
                                                option(value='#') Team option
                                    .field.row
                                        .col-4
                                            label Type
                                        .col-8
                                            select.form-control
                                                option(selected) TRUE TEAM
                                                option(value='#') FALSE TEAM
                                                option(value='#') UNDEFINED TEAM
                                                option(value='#') NULL TEAM
                                    .field.row
                                        .col-4
                                            label Trailer
                                        .col-8
                                            select.form-control
                                                option(selected) V1
                                                option(value='#') V2
                                                option(value='#') V3
                                                option(value='#') V4
                                    .field.row
                                        .col-4
                                            label Seal No
                                        .col-8
                                            input.form-control(type='text' placeholder='Seal No')
                                .col-6
                                    .field.row
                                        .col-4
                                            label Salesman
                                        .col-8.input-group
                                            select.form-control
                                                option(selected) Choose...
                                                option(value='#') XZ
                                                option(value='#') XZ
                                                option(value='#') XZ
                                            .input-group-append
                                                button.btn.btn-outline-secondary ...
                                    .field.field-start.row
                                        .col-4
                                            label Notes
                                        .col-8
                                            textarea.form-control(rows='11')
                hr
                .row
                    .col-1
                        i.fas.fa-2x.fa-money-bill-alt.mt-4
                    .col
                        .field-col
                            label Disp Pay
                            input.form-control(type='text')
                    .col
                        .field-col
                            label Accc Pay
                            input.form-control(type='text')
                    .col
                        .field-col
                            label Comment
                            input.form-control(type='text')
                    .col-7
                        .field-col
                            label Broadcast Notes
                            input.form-control(type='text')
                hr
                .row
                    .col-6
                        .form-fieldset
                            .row
                                .col-6
                                    .field.row
                                        .col-4
                                            label Commodity
                                        .col-8
                                            select.form-control
                                                option(selected) Commodity option
                                                option(value='#') Commodity option
                                                option(value='#') Commodity option
                                                option(value='#') Commodity option
                                    .field.row
                                        .col-4
                                            label Reference
                                        .col-8
                                            input.form-control(type='text')
                                .col-6
                                    .field.row
                                        .col-4
                                            label Weight
                                        .col-8
                                            input.form-control(type='text' data-mask='#' placeholder='0')
                                    .field.row
                                        .col-4
                                            label Pieces
                                        .col-8
                                            input.form-control(type='text' data-mask='#,###.00' placeholder='0.00')
                                    .field.row
                                        .col-4
                                            label Space
                                        .col-8
                                            input.form-control(type='text' data-mask='#,###.00' placeholder='0.00')
                    .col-6
                        .form-fieldset
                            table.table.table-bordered.table-sm
                                thead
                                    tr
                                        th(scope='col') Accessorial
                                        th(scope='col') Ref
                                        th(scope='col') Rate
                                        th(scope='col') Units
                                        th(scope='col') Amt
                                        th(scope='col') Pay
                                        th(scope='col') App
                                        th(scope='col') Notes
                                tbody
                                    tr
                                        td(scope='row' colspan='16')
                                            a(href='https://google.com' style="display: block;") Add
                                    tr
                                        td ADJUSTMENT
                                        td
                                        td 530.23
                                        td 1
                                        td 530.23
                                        td Y
                                        td
                                        td
                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                .row
                    .col
                        .form-fieldset
                            .row
                                .col
                                    button.btn.btn-light
                                        i.fas.fa-calculator
                                    button.btn.btn-light
                                        i.fas.fa-edit
                                .col-11
                                    table.table.table-bordered.compact
                                        thead.text-center
                                            tr
                                                th(scope='col') Posted By
                                                th(scope='col') Type
                                                th(scope='col') Date
                                                th(scope='col') Time
                                                th(scope='col') LA
                                                th(scope='col') Notes
                                        tbody
                                            tr
                                                td MIR
                                                td LN
                                                td 01/01/21
                                                td 13:01
                                                td
                                                td Rev Change: 0.00 - 15530.23
                                            tr
                                                td MIR
                                                td LN
                                                td 01/01/21
                                                td 13:01
                                                td
                                                td Dispatch Confirmation Sent
                                            tr
                                                td MIR
                                                td LN
                                                td 01/01/21
                                                td 13:01
                                                td 1
                                                td Assigned - FARAH, ABBAS
                .row
                    .col
                        table.table.table--total.table-sm.table-borderless
                            thead
                                tr
                                    td Booked
                                    td Current
                                    td Value
                                    td Pieces
                                    td Space
                                    td Act Wgt
                                    td Bil Wgt
                                    td Rate By
                                    td Rate
                                    td Fit Rev
                                    td Acc Rev
                                    td Total Rev
                                    td Discount
                                    td Inv No
                                    td Inv Date
                            tbody
                                tr
                                    td MIR
                                    td SDM
                                    td
                                    td 0.00
                                    td 0.00
                                    td 0
                                    td 0
                                    td Flat
                                    td 15000.00
                                    td 15000.00
                                    td 530.23
                                    td 15530.23
                                    td 0.00
                                    td
                                    td