doctype html
head
    meta(charset='utf-8')
    title Loading list
    link(rel='stylesheet' href='css/print.css')
body
    .container.pg--loading-list
        .loading-header
            table.w-100
                tbody
                    tr.clearfix
                        td
                            h3.m-0 BMW of North America LLC
                            p Bavarian Motor Works
                        td
                            h1.m-0.va-bottom.text-center Loading List
                        td.clearfix
                            .w-75.pull-left &nbsp;
                            .w-25.pull-left.clearfix
                                | <img class='print-img pull-left' src="https://img.icons8.com/windows/32/000000/bmw.png"/>
                                | <img class='print-img pull-left' src="https://img.icons8.com/windows/32/000000/bmw.png"/>
        .loading-info.clearfix
            div.loading-info-left
                .border-b.p-10
                    p BMW of North America, LLC. Continental Distribution Center US, 3781 Prologis Parkway, EAST
                div.p-10
                    p BMW of North America, LLC
                    p RDC Dallas
                    p 2401 Danieldale Rd
                    p LANCASTER TX 75134
                    p UNITED STATES OF AMERICA
            div.loading-info-right
                .doc__table
                    table.text-center
                        thead
                            tr
                                th.border-0
                                    b CUSTOMER
                                th.border-0
                                    b DATE
                                th.border-0
                                    b PAGE
                        tbody
                            tr
                                td.border-0 40094
                                td.border-0 01/03/2020
                                td.border-0 1
                    div.mb-50
                        b MEANS OF TRANSPORT
                        p LKW 2913126
                        p LAN-1/010320 DMWL385
                        p 315262
                    p W/V: 00088848
                    div.clearfix
                        .w-50.pull-left
                            p Loading group:
                            p Carrier code:
                        .w-50.pull-left
                            p
                                b 1001369043
                            p 0011076310
        .loading-table
            .p-10
                p Customer No.
                p Name and address of recipient
            .doc__table
                table
                    thead
                        tr
                            th
                                b HU
                            th
                                b Packaging Material
                            th.text-center
                                b SecSender
                            th.text-center
                                b Gross weight in kg/lb
                            th.text-center
                                b Net weight in kg/lb
                            th.text-center
                                b Length m/in
                            th.text-center
                                b Width m/in
                            th.text-center
                                b Height m/in
                        tr
                            td(colspan='8')
                                b 40094
                        tr
                            td(colspan='8')
                                b BMW of North America, LLC. RDC Dallas, 2401 Danieldale Rd, LANCASTER TX 75134, UNITED STATES OF AME
                    tbody
                        tr
                            td 3921000019566
                            td CARTON 18x18x12
                            td
                            td.text-right 19.000 kg
                            td.text-right 6.960 kg
                            td.text-right 0.457 m
                            td.text-right 0.457 m
                            td.text-right 0.304 m
