doctype html
head
    meta(charset='utf-8')
    title Images PDF
    link(rel='stylesheet' href='css/print.css')
body.pdf-images
    .pdf-full
        img.pdf-img(src="https://via.placeholder.com/300")
    .pdf-full
        img.pdf-img(src="https://via.placeholder.com/500")
    .pdf-full
        img.pdf-img(src="https://via.placeholder.com/700")
    .pdf-full
        img.pdf-img(src="https://via.placeholder.com/900")
