extends pug/layouts/dashboard

block title
    title Tables

block page
    .container-fluid
        h1.h3.mb-4.text-gray-800 Table
        .card.shadow.mb-4
            .card-header.py-3
                h6.m-0.font-weight-bold.text-primary DataTables Example
            .card-body
                include pug/sections/data-table

block modals
    .modal#js-row-remove.fade(tabindex='-1')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span &times;
                .modal-body.my-4
                    p.text-lg.text-center Are you sure to delete this item?
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-primary(type='submit') Confirm
block scripts
    script.
        var firstTable = {
            data: [
                ["Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800"],
                ["Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750"],
                ["Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000"],
                ["Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012/03/29", "$433,060"],
                ["Airi Satou", "Accountant", "Tokyo", "5407", "2008/11/28", "$162,700"],
                ["Brielle Williamson", "Integration Specialist", "New York", "4804", "2012/12/02", "$372,000"],
                ["Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012/08/06", "$137,500"],
                ["Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010/10/14", "$327,900"],
                ["Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009/09/15", "$205,500"],
                ["Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008/12/13", "$103,600"],
                ["Jena Gaines", "Office Manager", "London", "3814", "2008/12/19", "$90,560"],
                ["Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013/03/03", "$342,000"],
                ["Charde Marshall", "Regional Director", "San Francisco", "6741", "2008/10/16", "$470,600"],
                ["Haley Kennedy", "Senior Marketing Designer", "London", "3597", "2012/12/18", "$313,500"],
                ["Tatyana Fitzpatrick", "Regional Director", "London", "1965", "2010/03/17", "$385,750"],
                ["Michael Silva", "Marketing Designer", "London", "1581", "2012/11/27", "$198,500"],
                ["Paul Byrd", "Chief Financial Officer (CFO)", "New York", "3059", "2010/06/09", "$725,000"],
                ["Gloria Little", "Systems Administrator", "New York", "1721", "2009/04/10", "$237,500"],
                ["Bradley Greer", "Software Engineer", "London", "2558", "2012/10/13", "$132,000"],
                ["Dai Rios", "Personnel Lead", "Edinburgh", "2290", "2012/09/26", "$217,500"],
                ["Jenette Caldwell", "Development Lead", "New York", "1937", "2011/09/03", "$345,000"],
                ["Yuri Berry", "Chief Marketing Officer (CMO)", "New York", "6154", "2009/06/25", "$675,000"],
                ["Caesar Vance", "Pre-Sales Support", "New York", "8330", "2011/12/12", "$106,450"],
                ["Doris Wilder", "Sales Assistant", "Sydney", "3023", "2010/09/20", "$85,600"],
                ["Angelica Ramos", "Chief Executive Officer (CEO)", "London", "5797", "2009/10/09", "$1,200,000"],
                ["Gavin Joyce", "Developer", "Edinburgh", "8822", "2010/12/22", "$92,575"],
                ["Jennifer Chang", "Regional Director", "Singapore", "9239", "2010/11/14", "$357,650"],
                ["Brenden Wagner", "Software Engineer", "San Francisco", "1314", "2011/06/07", "$206,850"],
                ["Fiona Green", "Chief Operating Officer (COO)", "San Francisco", "2947", "2010/03/11", "$850,000"],
                ["Shou Itou", "Regional Marketing", "Tokyo", "8899", "2011/08/14", "$163,000"],
                ["Michelle House", "Integration Specialist", "Sydney", "2769", "2011/06/02", "$95,400"],
                ["Suki Burks", "Developer", "London", "6832", "2009/10/22", "$114,500"],
                ["Prescott Bartlett", "Technical Author", "London", "3606", "2011/05/07", "$145,000"],
                ["Gavin Cortez", "Team Leader", "San Francisco", "2860", "2008/10/26", "$235,500"],
                ["Martena Mccray", "Post-Sales support", "Edinburgh", "8240", "2011/03/09", "$324,050"],
                ["Unity Butler", "Marketing Designer", "San Francisco", "5384", "2009/12/09", "$85,675"]
            ],
            orderCellsTop: true,
            colReorder: {
                realtime: false
            },
            select: {
                style: 'multi',
                items: 'row'
            },
            stateSave: true,
            scrollY: '500px',
            scrollCollapse: true,
            paging: false,
            columns: [
                {
                    title: "Name",
                    orderable: false,
                },{
                    title: "Position",
                },{
                    title: "Office",
                },{
                    title: "Extn.",
                    orderable: false,
                    searchable: false,
                },{
                    title: "Start Date",
                },{
                    title: "Salary",
                    orderable: false,
                    searchable: false,
                }
            ],
            autoWidth: false,
            conditionalPaging: true,
            order: [[3, 'asc']],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<i class="fas fa-star"></i>',
                    action: function () {
                        this.rows().select();
                    }
                },
                {
                    text: '<i class="far fa-star"></i>',
                    action: function () {
                        this.rows().deselect();
                    }
                },
                {
                    extend: 'copy',
                },
                {
                    extend: 'colvis',
                    className: 'btn-primary',
                    attr: {
                        'title': 'Columns visibility',
                        'data-colvis-limit': '3', // default/undefined == 1
                    },
                    text: 'Hide/Show Columns',
                    init: function (api, node, config) {
                        $(node).removeClass('btn-secondary')
                    }
                }
            ]
        };

        var secondTable = {
            data: [
                ["Tiger Nixon", "System Architect", "Edinburgh"],
                ["Garrett Winters", "Accountant", "Tokyo"],
                ["Ashton Cox", "Junior Technical Author", "San Francisco"],
                ["Cedric Kelly", "Senior Javascript Developer", "Edinburgh"],
                ["Airi Satou", "Accountant", "Tokyo"],
            ],
            orderCellsTop: true,
            colReorder: {
                realtime: false,
            },
            stateSave: true,
            scrollY: '100px',
            scrollCollapse: true,
            paging: false,
            columns: [
                {
                    title: "Name",
                    orderable: false,
                },{
                    title: "Position",
                },{
                    title: "Office",
                },
            ],
            buttons: [
                {
                    text: 'Select all',
                    action: function () {
                        this.rows().select();
                    }
                },
                {
                    text: 'Select none',
                    action: function () {
                        this.rows().deselect();
                    }
                },
                {
                    extend: 'colvis',
                    columns: ':gt(0)'
                }
            ],
            dom: 'Bfrtip',
            order: [[1, 'asc']],
            autoWidth: false,
            conditionalPaging: true,
        };
        var thirdTable = {
            data: [
                ["Tiger Nixon", "System Architect", "Edinburgh"],
                ["Garrett Winters", "Accountant", "Tokyo"],
                ["Ashton Cox", "Junior Technical Author", "San Francisco"],
                ["Cedric Kelly", "Senior Javascript Developer", "Edinburgh"],
                ["Airi Satou", "Accountant", "Tokyo"],
            ],
            orderCellsTop: true,
            colReorder: true,
            stateSave: true,
            initComplete: function () {
            },
            columns: [
                {
                    title: "Name",
                    searchable: false,
                },{
                    title: "Position",
                },{
                    title: "Office",
                },
            ],
            buttons: [
                {
                    extend: 'colvis',
                    columns: ':gt(0)'
                }
            ],
            dom: 'Bfrtip',
            autoWidth: false,
            conditionalPaging: true,
        };
        var collapsedGroups = {};
        // var fourthTable = {
        //   data: [
        //     ["Ashton Cox", "Junior Technical Author", "San Francisco"],
        //     ["Tiger Nixon", "System Architect", "Edinburgh"],
        //     ["Cedric Kelly", "Senior Javascript Developer", "Edinburgh"],
        //     ["Garrett Winters", "Accountant", "Tokyo"],
        //     ["Charde Marshall", "Regional Director", "San Francisco"],
        //     ["Airi Satou", "Accountant", "Tokyo"],
        //     ["Airi Satou", "Accountant", "Tokyo"],
        //     ["Airi Satou", "Accountant", "Tokyo"],
        //     ["Airi Satou", "Accountant", "Tokyo"],
        //   ],
        //   orderCellsTop: true,
        //   colReorder: true,
        //   stateSave: true,
        //   initComplete: function () {
        //   },
        //   columns: [
        //     {
        //       title: "Name",
        //       searchable: false,
        //     }, {
        //       title: "Position",
        //     }, {
        //       title: "Office",
        //     },
        //   ],
        //   buttons: [
        //     {
        //       extend: 'colvis',
        //       columns: ':gt(0)'
        //     }
        //   ],
        //   dom: 'Bfrtip',
        //   autoWidth: false,
        //   conditionalPaging: true,
        //   draw: false,
        //   order: [[2, 'asc']],
        //   rowGroup: {
        //     dataSrc: 2,
        //     startRender: function (rows, group) {
        //       var collapsed = !!collapsedGroups[group];
        //
        //       rows.nodes().each(function (r) {
        //         r.style.display = collapsed ? 'none' : '';
        //       });
        //
        //       // Add category name to the <tr>. NOTE: Hardcoded colspan
        //       return $('<tr/>')
        //         .append('<td colspan="8">' + group + ' (' + rows.count() + ')</td>')
        //         .attr('data-name', group)
        //         .toggleClass('collapsed', collapsed);
        //     }
        //   }
        // };


