include dt-toolbar
.table.table-responsive
    table.table.table-bordered.compact.js-datatable#first(cellspacing='0' data-var='firstTable')
        thead
            th
            th
            th
            th
            th
            th
        tfoot
            th
            th
            th
            th
            th
            th
        tbody

hr

include dt-toolbar
.table.table-responsive
    table.table.table-bordered.compact.js-datatable#second(cellspacing='0' data-var='secondTable')
        thead
            th
            th
            th
        tfoot
            th
            th
            th
        tbody
