table.dataTable th {white-space: nowrap;}

div.table-responsive {overflow-x: inherit;}
div.dataTables_wrapper div.row:nth-child(2) {overflow-x: auto;}

#card-payroll-batch .dt-toolbar-filter-item:first-child label {display:none;}